.btn-fixed {
    background-color: #195712;
    color: white;
    transition: color .3s,background-color .3s,border-color .3s,opacity .3s;
    backface-visibility: hidden;
    transition: transition;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    z-index: 100;
    margin-left: -50px;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}

    .btn-fixed.visible {
        visibility: visible;
    }
