<form action="~/Admin/CriarCategoria/">
    <div class="container" style="margin-bottom:5%">
        <label>Nome da Categoria</label>
        <input type="text" name="categoria" class="form-control" placeholder="Ex: Camisolas" required />
    </div>

    <div class="modal-footer">
        <button class="btn btn-success center-block" type="submit">Criar</button>
    </div>
</form>
