

<form action="~/Admin/CriarMarca/">
    <div class="container" style="margin-bottom:5%">
        <label>Nome da Marca</label>
        <input type="text" name="marca" class="form-control" placeholder="Ex: Puma" required/>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success center-block" type="submit">Criar</button>
    </div>
</form>
