@model List<RickyShop_Site.Models.PedidosDetalhes>


<table class="table table-condensed" style="width:100%">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Desconto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@RickyShop_Site.Models.Entities.db.Produto.Where(s => s.ID_Produto == item.ID_Produto).FirstOrDefault().Nome</td>
                <td>@item.Quantidade</td>
                <td>@item.Preco.ToString("N2")€</td>
                @if (item.Desconto != null)
                {
                    <td>@item.Desconto%</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
        }
    </tbody>
</table>

