<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="background: #ffffff;">
    <h1 style="background:#a2db3b; text-align:center; font-size:50px; color:white"> RickyShop </h1>
    <h3 style="border-collapse:collapse;padding:0 0 10px; font:21px/24px Arial,Helvetica,sans-serif;color:#333; text-align:center">
        🚨PROMOÇÕES? SÓ NA RICKYSHOP🚨
    </h3>


    <label> Olá [NomeCliente], </label>

    <p> <label> [Descricao] </label> </p>

    <strong style="text-align:center;font-size:24px;font-weight:bold">Início: [DataDeInicio] <br /> Fim [DataFim]</strong>
    
    <br />
    <br />

    <p> <label> Com os melhores cumprimentos,<br /> Equipa de Suporte RickyShop </label> </p>

</body>
</html>