.links {
    text-align: center;
    width: 300px;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.gray-button {
    text-align: center;
    background-color: #aaa;
    padding: 6px 12px 10px 12px;
    width: 160px;
    height: 33px;
    color: white;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
}

/* modal details */
.modal-dialog {
    position: relative;
    display: table; /* This is important */
    width: auto;
    min-width: 500px;
    /*   overflow-y: scroll; */
    overflow-x: auto;
}

/* Get rid of the background fade */
modal-backdrop {
    opacity: 0;
}

/* Vertical scroll bar part 1 */

/* .modal-dialog{ */
/*   overflow-y: initial !important; */
/* } */

/* Vertical scroll bar part 2 */
.modal-body {
    /*   max-height: 800px; */
    /*   width: 700px; */
    background: linear-gradient(to top, #ccc 0%, #222 15%, #aaa 100%);
    background-repeat: no-repeat;
    /*   overflow-y: auto; */ /* Enable for scrollbar */
}


.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background-color: blue;
    background: url(http://hop.ie/balls/images/tennisball.png) no-repeat; 
    background-size: 100%;
}

    .ball:before {
        content: "";
        position: absolute;
        top: 1%;
        left: 5%;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
        -webkit-filter: blur(5px);
        z-index: 2;
    }

    .ball:after {
        content: "";
        position: absolute;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(circle at 40% 30%, rgba(245, 237, 48, 0), rgba(200, 190, 20, 0.2) 50%, #575300 100%);
    }

    .ball .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
        -webkit-transform: rotateX(90deg) translateZ(-160px);
        transform: rotateX(90deg) translateZ(-160px);
        z-index: 1;
    }

.stage {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
