<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/StyleTeste.css" rel="stylesheet" />
<div class="container">
    <div class="card">
        <div class="card-body" style="margin: 10px;">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"> <img src="~/Camisolas/1.jpg" class="img-responsive" /> </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h3 class="card-title; alert-success text-center" style="font-size:40px;">Nike T-Shirt Sportswear Club</h3>

                    <br />

                    <div style="display:flex; font-size:20px">
                        <div style="text-decoration: line-through; margin-right:5px">100€ </div>
                        <label style=" flex-wrap: nowrap; color:#195712"> 30€ </label> <p><small class="text-success">(-15%)</small> </p>
                    </div>

                    <br />

                    <div>
                        <h3 class="box-title mt-5"> Descrição do Produto</h3>
                        <p>Enche-te do maior conforto com a t-shirt Sportswear Club da Nike para homem.</p>

                        <br />

                        <h4>Quantidade</h4>
                        <input type="number" style="width: 7%; text-align: center; display: inline-block; line-height: 26px;" class=" form-control-static" min="1" max="20" value="1">

                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="Adicionar ao Carrinho" style="background-color: #195712; color: white">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="Adicionar aos Favoritos" style="background-color:#ce2e2e; color:white">
                            <i class="glyphicon glyphicon-heart"></i>
                        </button>

                        <br />
                        <br />

                        <h3 class="box-title mt-5">Trocas/Devolucões</h3>
                        <p>*A troca e devolução de artigos comprados online não podem ser efetuadas nas lojas físicas.</p>

                        <br />
                        <p>Dispões de 30 dias desde que recebes o teu pedido para registar a tua devolução e outros 30 dias para enviar de volta a tua encomenda.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



