@model List<RickyShop_Site.Models.DadosCarrinhoProduto_Result>
@{
    var total = 0.0;
    int UserID = Convert.ToInt32(Session["UserID"]);
    var u = RickyShop_Site.Models.Entities.db.Utilizadores.Where(s => s.ID_Utilizador == UserID).FirstOrDefault();
    foreach (var item in Model)
    {
        total += Convert.ToDouble(item.PreçoPorQuantidade * item.Quantidade);
    }
}
<link href="~/Content/Teste.css" rel="stylesheet" />

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 body-main">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img" alt="Invoce Template" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Shopping_cart_icon.svg" style="color: #195712" />
                        </div>
                        <div class="col-md-8 text-right">
                            <h4 style="color: #195712;"><strong>RickyShop</strong></h4>
                            <p>nº4 1frt ,Odivelas Arroja</p>
                            <p>2675-573</p>
                            <p>suporterickyshop@hotmail.com</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <h2>Fatura</h2>
                            <h5>04854654101</h5>
                        </div>
                    </div>
                    <br />
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><h5>Descrição</h5></th>
                                    <th><h5>Quantidade</h5></th>
                                    <th><h5>Preço</h5></th>
                                    <th><h5>Total</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr style=" border-bottom: 1px solid #ddd;">
                                        <td class="col-md-7">@Html.DisplayFor(model => item.Nome)</td>
                                        @if(item.)
                                        <td class="col-md-4"><i class="fas fa-rupee-sign" area-hidden="true"></i> @Html.DisplayFor(model => item.Quantidade) </td>
                                        <td class="col-md-4"><i class="fas fa-rupee-sign" area-hidden="true"></i> @Html.DisplayFor(model => item.PreçoPorQuantidade) </td>
                                        <td class="col-md-4"><i class="fas fa-rupee-sign" area-hidden="true"></i> @Html.DisplayFor(model => total) </td>
                                    </tr>
                                }

                                <tr style=" border-bottom: 1px solid #ddd;">
                                    <td class="col-md-7">Samsung Galaxy 8 64 GB</td>
                                    <td class="col-md-4"><i class="fas fa-rupee-sign" area-hidden="true"></i> 2 </td>
                                    <td class="col-md-4"><i class="fas fa-rupee-sign" area-hidden="true"></i> 50,000 </td>
                                    <td class="col-md-4"><i class="fas fa-rupee-sign" area-hidden="true"></i> 100,000 </td>
                                </tr>
                                <tr style=" border-bottom: 1px solid #ddd;">
                                    <td class="col-md-9">JBL Bluetooth Speaker</td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i> 5,200 </td>
                                </tr>
                                <tr style=" border-bottom: 1px solid #ddd;">
                                    <td class="col-md-9">Apple Iphone 6s 16GB</td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i> 25,000 </td>
                                </tr>
                                <tr style=" border-bottom: 1px solid #ddd;">
                                    <td class="col-md-9">MI Smartwatch 2</td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i> 2,200 </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <p>
                                            <strong>Shipment and Taxes:</strong>
                                        </p>
                                        <p>
                                            <strong>Shipment and Taxes:</strong>
                                        </p>
                                        <p>
                                            <strong>Total Amount: </strong>
                                        </p>
                                        <p>
                                            <strong>Discount: </strong>
                                        </p>
                                        <p>
                                            <strong>Payable Amount: </strong>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 500 </strong>
                                        </p>
                                        <p>
                                            <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 82,900</strong>
                                        </p>
                                        <p>
                                            <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 3,000 </strong>
                                        </p>
                                        <p>
                                            <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 79,900</strong>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="color: #F81D2D;">
                                    <td class="text-right"><h4><strong>Total:</strong></h4></td>
                                    <td class="text-left"><h4><strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 79,900 </strong></h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <p><b>Date :</b> 6 June 2019</p>
                            <br />
                            <p><b>Signature</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
